certifi==2018.4.16
chardet==3.0.4
Django==2.2
django-cors-headers==3.0.2
django-filter==2.2.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
drf-jwt==1.13.2
get==2019.4.13
idna==2.7
pipenv==2018.11.26
post==2019.4.13
public==2019.4.13
PyJWT==1.7.1
pytz==2018.5
query-string==2019.4.13
request==2019.4.13
requests==2.19.1
sqlparse==0.3.0
urllib3==1.23
virtualenv==16.7.2
virtualenv-clone==0.5.3
XlsxWriter==1.2.1
